body {
    text-align: center;
}
.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;   
}
.listlollies {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.listlollies.lollipop {
    height: 300px;
}

.lolly {
    margin: 10px;   
}

.lollyformDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lollyflavorDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.colorPickerLabel {

    width : 40px;
    height: 40px;
    border-radius: 50%;
    margin: 20px;
    overflow: hidden;
}

.colorPicker {    
    width : 70px;
    height: 70px;
    margin-top: -7px;
    margin-left: -14px;
}

.lollyForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.messageDiv{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

    .giftlollyDiv {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-top: auto;
        padding-top: 25px;              
    }

    .giftlollyContent {
        margin: 32px;  
        height: 50%;     
    }

    .sentFooter {
        justify-content: center;
        text-align: center;
        padding-top: 30px;
        font-size: large;
        color: gray;        
    }
    sentFooter a {
        justify-content: left;
        text-align: left;
    }
    .giftlollyDiv .sharelolly {
        color: black;
    } 
    
    .sharelolly p {
        color: crimson;
        font-style: italic;
    }